<h1>Sample h1</h1>
<h2>Sample h2</h2>
<h3>Sample h3</h3>
<p>Thank you for using my Foundation for Emails based Drupal theme <a href="https://github.com/doostinharrell/responsive_emails_theme">"Responsive Emails Theme"</a>.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget dui facilisis ligula dictum pellentesque. Quisque dolor lacus, eleifend eleifend tincidunt nec, consectetur non eros. Ut porta viverra orci, nec tempus sapien consectetur vitae. Proin dignissim ex eu tortor fringilla, ut faucibus nulla maximus. Donec facilisis dignissim mi, et dictum nulla semper placerat. Nunc ullamcorper ex ut accumsan pharetra. Proin et mauris dolor.</p>
<ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>
<hr />
<p>Aliquam sed eros eget tellus laoreet auctor. Sed nec molestie elit, id pellentesque ligula. Pellentesque commodo elementum convallis. Etiam vehicula sodales massa, tincidunt mattis ante. In iaculis, velit vitae porta gravida, felis nulla pellentesque velit, a lacinia leo nisl id ligula. Morbi porttitor nisi et justo auctor varius. Nullam mollis ante vestibulum mauris aliquet, ac rhoncus nulla molestie.</p>
<p>Note: This email theme is based on Foundation for Emails so feel free to use the html syntax as documented at <a href="http://foundation.zurb.com/emails/docs/">http://foundation.zurb.com/emails/docs/</a></p>
